.webapp-item {
  position: absolute;
  top: 412px;
  left: 893px;
  background-color: #d9d9d9;
  width: 922px;
  height: 632px;
}

@media (max-width: 768px) {
    /* Styles for screens with a width up to 768 pixels */
}